.banner-kj{
	width: 100%;
	overflow: hidden;
}

.banner-kj img{
	width: 100%;
	vertical-align: center;
}

.keji{

height: 100%;
position: relative;
z-index: 1;
overflow: hidden;

}

.keji img{
	width: 100%;
}



.keji .shadow{
	padding: 5% 5%;
	top: -100%;
	position: absolute;
	width: 92%;
	height:100%;
	opacity: 0;
	transition: 0.6s;
	color: white;
}
.keji2 .shadow{
	width: 96%;
}

.shadow h4{
	margin-top: 20%;
}
.keji .introduce{
	line-height: 200%;
	letter-spacing: 2px;
	margin-top: 3%;
	
}

.keji2 .introduce{
	width: 85%;
	margin-top: 0;
	letter-spacing: 2px;
	line-height: 200%;

}
.keji2 .shadow h4{
	margin-top: 6%;
}

.keji:hover .shadow{
	transform: translate(0,100%);
	opacity: 0.8;
	background-color: rgb(20, 30, 36);
}

.keji:hover .word{
	opacity: 0;
		transition: 0.6s;
}
.fun p{
	line-height: 2;letter-spacing: 2px;margin-top: 3%;
}
.fun p>span{
	font-size: 14px;color: #666;
}
.k-bottom-tit{
	font-weight: bold;font-size: 20px;color: #333;
}
.k-bottom-tit2{
	 text-align: right;margin-right: 3%;font-weight: bold;font-size: 20px;line-height: 1.5;color: #333
}
.k-bottom-intro{
	font-size: 14px;line-height: 2;letter-spacing: 2px;margin-top: 5%;color: #666;
}
.k-bottom-intro2{
	font-size: 14px;line-height: 2;letter-spacing: 4px;margin-top: 6%;color: #666
}
.k-bottom-cont{
	width: 58%;float: left;
}
.k-bottom-cont2{
	width: 38%;float: right;
}